/* Cores Padrões */
:root {
  --black: #000000d1;
  --white: #ffffff;  
  --gray: #d4cdcd;
  --violet: #9400d3;
}

/* Reset Styled */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo Global */
body {
  background-color: var(--violet);
  font-family: Arial, Helvetica, sans-serif;
}

/* Estilo do Container Principal do App */
.App {
  background-color: var(--white);

  display: flex;
  flex-direction: column;
  align-items: center;

  width: 700px;
  height: 500px;

  margin: 45px auto;
  padding: 15px;

  border-radius: 10px;

  -webkit-box-shadow: 6px 6px 32px 10px var(--black);
  box-shadow: 6px 6px 32px 10px var(--black);
} 

@media (max-width: 750px) {
  .App {
    width: 90%;
    height: 90%;

    margin: 45px auto;
  }
}